.content,
.contentNoMBottom {
  display: flex;
  justify-content: space-around;

  align-items: center;
  align-content: center;

  h5 {
    color: aliceblue;
  }

  .topicInfo {
    margin-left: 20px;
    display: flex;
    padding: 5px;

    .topicInfoBlock,
    .currentTopicInfoBlock {
      cursor: pointer;
      border-radius: 15px;
      min-height: 60px;
      width: 180px;
      margin-right: 3%;
      display: flex;
      flex-wrap: wrap;
      background-color: rgb(227, 227, 227);
      align-items: center;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      p {
        cursor: pointer;
        margin: 2px;
        text-align: center;
        font-size: 80%;
        color: rgba(11, 11, 11, 0.809);
      }

      &:hover {
        background-color: rgb(191, 191, 191);
      }
    }

    .currentTopicInfoBlock {
      background-color: rgba(245, 245, 245, 0.994);
    }
  }
}

.contentNoMBottom {
  margin-bottom: 0%;
}

.loader {
  position: fixed;
  bottom: 50%;
  left: 50%;
  .ldsfacebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .ldsfacebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #ae4343;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .ldsfacebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .ldsfacebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .ldsfacebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%,
    100% {
      top: 24px;
      height: 32px;
    }
  }
}
