.bblock {
  height: 100%;
}
.block {
  z-index: 999999;
  justify-content: center;
  max-height: 80vh;
  padding: 10px;
  flex: 1;
  // position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: black !important;
  font-size: 12px;

  .handleLogin {
    width: 70%;
    border-radius: 7px;
    cursor: pointer;
    padding: 8px;
    font-size: 20px;
    background-color: rgb(49, 191, 65);
    &:hover {
      background-color: rgb(43, 161, 56);
    }
  }

  button,
  input {
    margin-top: 10px;
  }

  button {
  }

  input {
    margin-left: 5px;
  }

  .bottom {
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    p {
      color: rgb(67, 67, 67);
      &:hover {
        color: rgb(14, 0, 207);
      }
    }
  }

  .table {
    font-size: 18px;

    width: 100%;

    .testBtn {
      display: flex;
      width: 223px;
      height: 64px;
      padding: 12px 54px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      flex-shrink: 0;

      border-radius: 3px;
      background: #244940;
      color: white;
      font-weight: bold;

      cursor: pointer;
      &:hover {
        background-color: #265b4d;
      }
      &:active {
        background-color: #486d64;
      }
    }

    .pass {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-around;
      align-content: center;

      .checkbox,
      .checkboxForRegistration {
        opacity: 0.5;
        margin-left: -28px;
        margin-top: 2px;
        &:hover {
          opacity: 1;
        }
      }
      .checkboxForRegistration {
        left: 89%;
        top: 30%;
      }
    }

    ul {
      width: 100%;
      li {
        display: flex;
        width: 100%;
        color: rgba(0, 0, 0, 0.876);
        border-radius: 10px;
        padding: 10px;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        justify-content: space-between;
        input {
          color: rgba(0, 0, 0, 0.876);
          width: 100%;
          border-radius: 8px;
          padding: 5px;
          font-size: 18px;
          background-color: rgba(255, 255, 255, 0.225);
        }
      }

      .listboxButton {
        display: flex;
        cursor: pointer;
        font-size: 18px;
        width: 400px;
        border-radius: 8px;
        border-style: none;
        padding: 10px;
        color: rgba(0, 0, 0, 0.876);
        background-color: rgba(28, 143, 13, 0.104);

        &:hover {
          background-color: rgba(29, 143, 13, 0.656);
        }
      }

      .listboxOptions {
        // background-color: rgba(74, 74, 74, 0.225);
        padding: 10px;
        // background-color: rgba(0, 0, 0, 0.303);
        border-radius: 0 0 8px 8px;

        margin-left: 10px;
        width: 95%;
        .listboxOption,
        .listboxOptionActive {
          margin-bottom: 5px;
          width: 400px;
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.45);
          width: 300px;
          &:hover {
            color: rgba(0, 0, 0, 0.876);
            background-color: rgba(29, 143, 13, 0.656);
          }

          &:active {
            background-color: rgba(47, 131, 32, 0.174);
          }
        }
      }
      .listboxOptionActive {
        background-color: rgba(28, 143, 13, 0.266) !important;
      }
    }
  }
}
